body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: #000000;
  overflow-x: hidden;
}

.navbar-brand {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.1em;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.main-bg {
  background-image: url(./img/main-bg.jpg);
  padding-top: 20%;
  padding-bottom: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  height: 100vh;
}

.heading {
  font-family: "Bebas Neue";
  letter-spacing: 5px;
}

.heading-1 {
  font-family: Arial;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.heading-2 {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  margin-top: 40px;
}

#btn-play {
  font-weight: 600;
  font-family: "Open Sans";
}

#btn-story-wrapper {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  height: 32.79px;
}

#btn-story {
  text-decoration: none;
}

#the-games {
  min-height: 100vh;
  background: url("./img/bg\ image\ 2.png");
  background-position: center center;
  background-size: cover;
}

#the-games-content {
  width: 100%;
  backdrop-filter: brightness(30%);
}

#indicator {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  width: 100%;
}

#game-features {
  min-height: 100vh;
  background: url("./img/features.jpg");
  background-position: center center;
  background-size: cover;
}

#game-features-content {
  width: 100%;
  backdrop-filter: brightness(30%);
}

#sys-req {
  min-height: 100vh;
  background: url("./img/requirements.png");
  background-position: center center;
  background-size: cover;
}

#sys-req-content {
  width: 100%;
  backdrop-filter: brightness(30%);
}

#table-sys-req > thead > tr > th {
  padding: 15px;
}

#btn-see-more {
  padding: 15px 60px;
}

.btn-submit {
  padding: 15px 60px;
}

#top-scores {
  background: url("./img/top-score-bg.png");
  background-position: center center;
  background-size: cover;
}

#top-scores-content {
  width: 100%;
  /* backdrop-filter: brightness(30%); */
}

.card-top-score {
  width: 60%;
  padding: 15px 30px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
}

.img-card {
  border-radius: 100%;
}

.subscribe-text {
  font-size: 65px;
  text-transform: uppercase;
}

.subscribe-input {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  border: 0px;
  height: 60px;
}

.subscribe-input:focus {
  background: rgba(27, 27, 27, 0.08);
  border-radius: 5px;
  border: 1px solid #333;
  outline: none !important;
  border: 1px solid rgb(255, 217, 0);
  box-shadow: 0 0 10px #719ece;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(255, 217, 0) !important;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 217, 0, 0.774) !important;
  opacity: 1; /* Firefox */
}
